/so2/so2a02sockets/build/
/so2/so2a02sockets/dist/
/so2/paral01/build/
/so2/so2a4serv.conc/build/
/so2/par3cc/build/
/paral02/nbproject/private/
/paral02/build/
/so2/paral04/nbproject/private/
/so2/paral04/build/
/so2/aula5/aulaRMInb_INICIAL/nbproject/private/
/so2/aula5/aulaRMInb_INICIAL/build/
/so2/reservasParaJantar/nbproject/private/
/so2/aula7/so2_jar_project/nbproject/private/
/so2/aula7/so2_jar_project/dist/
/so2/aula7/so2_jar_project/build/
/so2/aula8/jdbcNB_INICIAL/nbproject/private/