<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllergyTypes</servlet-name>
        <servlet-class>servlets.SearchAllergyTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showMarkersFromCheckbox</servlet-name>
        <servlet-class>servlets.showMarkersFromCheckbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistEntry</servlet-name>
        <servlet-class>servlets.RegistEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToPerfil</servlet-name>
        <servlet-class>servlets.GoToPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistEdit</servlet-name>
        <servlet-class>servlets.RegistEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEntries</servlet-name>
        <servlet-class>servlets.ShowEntries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEntries</servlet-name>
        <servlet-class>servlets.DeleteEntries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToHome</servlet-name>
        <servlet-class>servlets.GoToHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showChoosenLocal</servlet-name>
        <servlet-class>servlets.showChoosenLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEntry</servlet-name>
        <servlet-class>servlets.DeleteEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistServlet</servlet-name>
        <servlet-class>servlets.RegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/jsp/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SearchAllergyTypes</servlet-name>
        <url-pattern>/SearchAllergyTypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showMarkersFromCheckbox</servlet-name>
        <url-pattern>/showMarkersFromCheckbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistEntry</servlet-name>
        <url-pattern>/RegistEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToPerfil</servlet-name>
        <url-pattern>/GoToPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistEdit</servlet-name>
        <url-pattern>/RegistEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEntries</servlet-name>
        <url-pattern>/ShowEntries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEntries</servlet-name>
        <url-pattern>/DeleteEntries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToHome</servlet-name>
        <url-pattern>/GoToHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showChoosenLocal</servlet-name>
        <url-pattern>/showChoosenLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEntry</servlet-name>
        <url-pattern>/DeleteEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistServlet</servlet-name>
        <url-pattern>/RegistServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
